
body{
    margin: 70px;
    background-color: rgb(10, 241, 191);
    background-size: cover;
}


.container {
  text-align: center; /* Center-align the contents within the container */
}

.container a {
  display: block;
  margin: 10px; 
  text-decoration: none; 
  color: #333; 
  font-size: 20px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h2 {
  padding: 20px;
  text-align: center;
  font-size: 30px;
  border: 5px;
  background-color: rgb(29, 210, 116);
}
p {
  padding: 20px;
  font-size: 20px;
  background-color: bisque;
  border: 20px black
  
}


h1 {
    padding: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    border: 20px black;
    background-color: black;
    font-weight: 400;
    color: whitesmoke
}

header {
    border: 1px solid red;

}

main {
    background-color: azure;
    margin: 30px;
    padding: 30px;
    padding-bottom: 30px;
    border: 10px;
    border-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-size-adjust: 50px;
    background-color: rgb(29, 210, 116);


}


.parent-element {
    text-align: center;
}




* {
  box-sizing: border-box
}
.image-slideshow {
max-width: 1000px;
position: relative;
margin: auto;
}
img {
width: 100%
}
.fade {
animation-name: fade;
animation-duration: 2s;
}
@keyframes fade {
from {opacity: .5}
to {opacity: 1}
}
